In [23]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [24]:
# Importing the dataset
dataset = pd.read_csv('CE802_Ass_2019_Data.csv')
dataset.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F12,F13,F14,F15,F16,F17,F18,F19,F20,Class
0,0,0,16,2.02,0.52,-2.35,-1.98,-0.70,85,6,...,-0.07,1.08,15,-0.63,-3.49,-1.68,0.02,15.3,-0.13,1
1,0,0,86,-0.90,2.75,0.14,0.83,-0.06,107,1,...,0.17,1.06,-8,-1.21,0.34,0.36,0.61,10.1,-0.13,1
2,1,1,165,0.73,1.05,0.10,2.57,-1.65,41,5,...,0.04,0.42,-6,-0.46,-0.62,1.67,2.60,11.0,1.55,0
3,1,1,191,-1.50,0.79,0.33,1.24,1.35,17,2,...,1.74,1.74,15,0.47,0.63,0.08,0.19,6.3,0.95,0
4,1,1,13,0.25,-1.19,-0.90,2.67,0.22,12,8,...,-0.39,1.25,25,-0.09,-2.41,-0.53,-0.77,10.5,-0.13,1

In [25]:
X = dataset.iloc[:, 0:20]
#X.head()
y = dataset.iloc[:, [20]]
#y.head()

In [26]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25,random_state = 0)

In [27]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [28]:
# Fitting classifier to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel='rbf', random_state=0)
classifier.fit(X_train, y_train)
# Predicting the Test set results
y_pred = classifier.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [29]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[54, 16],
       [31, 24]], dtype=int64)

In [30]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test, y_pred)
score

0.624

In [31]:
from sklearn.metrics import cohen_kappa_score
cohen_kappa_score(y_test, y_pred)

0.21404682274247488